asgiref==3.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2
django-js-asset==3.1.2
django-mptt==0.17.0
django-querycount==0.8.3
idna==3.10
pillow==11.3.0
requests==2.32.4
sqlparse==0.5.3
sslcommerz-lib==1.0
urllib3==2.5.0
