{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-center my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-danger">Payment Failed</h2>
                    <p class="card-text">We encountered an issue with your payment. Please try again.</p>
                    <a href="{% url 'cart' %}" class="btn btn-primary">Return to Cart</a>
                    <!-- <a href="{% url 'store' %}" class="btn btn-secondary">Continue Shopping</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}