<!-- accounts/templates/accounts/dashboard.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Dashboard</h1>
        <p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Orders</h5>
            <p class="card-text">View your orders here.</p>
            <a href="" class="btn btn-primary">View Orders</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cart</h5>
            <p class="card-text">View your cart here.</p>
            <a href="{% url 'cart' %}" class="btn btn-primary">View Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}